# Archieve
Archieve/

## Core latex/pdflatex auxiliary files:
**/*.aux
**/*.lof
**/*.log
**/*.lot
**/*.fls
**/*.out
**/*.toc
**/*.fmt
**/*.fot
**/*.cb
**/*.cb2
**/*.lb
Rieble_Nikolas_resume.fdb_latexmk
Rieble_Nikolas_resume.synctex.gz
